<div class="containter text-center">
  <h1>Editing Cocktail</h1>
  <br>
  <%= render 'form', cocktail: @cocktail %>
  <br>



  <%= link_to 'Show', @cocktail, class: 'btn btn-medium' %> |
  <%= link_to 'Back', cocktails_path, class: 'btn btn-danger' %>
</div>
