<div class="containter text-center">
  <div class="container">
    <h1>New cocktail</h1>

    <%= render 'form', cocktail: @cocktail %>

    <%= link_to 'Back', cocktails_path, class: 'btn btn-medium-danger btn-wrapper wrapper' %>
  </div>
</div>
