.form-input {
  color: #999999;
  background: #ffffff;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}

#dose_ingredient_id, #dose_description {
  color: #000000;
  background: #ffffff;
  border: 1px solid #999999;
  border-radius: 5px;
  font-weight: lighter;
  margin: 10px;
}

#cocktail_photo {
  text-align: center;
}
